* {
  outline: 0;
  font-size: 14px;
  font-weight: normal;
  //color: #6a737d;
}
body{background-color: #edf1f6}
body, p, li, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.baseColor{
  font-size: 14px;
  font-weight: 500;
  color: #6a737d;
};
//错误文字的样式
.errText{
  color:red;
  font-size: 16px;
  font-family: "微软雅黑";
  vertical-align: middle;
  padding-left: 10px;
}
//用户不能选中文字
body {
  user-select: none;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
}

//按钮基本样式
.btn {
  //width: 50px;
  display: inline-block;
  border-radius: 3px;
  padding: 4px 15px;
  background: #7898fb;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: #82bdf7;
    border-color: #82bdf7;
  }
  &:active {
    background-color: #2f84d4;
    border-color: #2f84d4;
  }
}

//输入框的基本样式
.input {
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 40%;
  padding-left: 15px;
}
.d-none{
  display: none;
}