@import "../../BasicsCss/Basics";


.loginimg{
    position: fixed;
    height: 100%;
    background-color: black;
}

.loginBox {
    width: 500px;
    height: 300px;
    border: 1px solid;
    box-shadow: 0 0 5px 5px #f6f6f6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding-top: 50px;
    box-sizing: border-box;
}

.login-label {
    display: inline-block;
    width: 25%;
    text-align: right;
    vertical-align: middle;
}

.login-row {
    padding: 15px 0;
}

.loginBtn {
    @extend .btn;
}

.login-input {
   @extend .input;
}

.login-btn-box {
    text-align: center;
    margin-top: 20px;
}